asgiref==3.6.0
distlib==0.3.6
Django==4.2
face-recognition-models==0.3.0
filelock==3.11.0
mysql==0.0.3
mysqlclient==2.1.1
platformdirs==3.2.0
sqlparse==0.4.3
tzdata==2023.3
virtualenv==20.21.0
