{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="{% static 'admin_static/img/logo/logo.png' %}" rel="icon">
  <title>Faculty - Dashboard</title>
  <link href="{% static 'admin_static/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'admin_static/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'admin_static/css/ruang-admin.min.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</head>

<body id="page-top">
    <!-- swal message start --> 

    {% if messages %}
    {% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
    <script>swal({
            title: "Success!",
            text: "{{message}}",
            icon: "success",
            button: "OK",
        });
    </script>
    
    {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
    <script>swal({
            title: "Warning :)",
            text: "{{message}}",
            icon: "warning",
            button: "OK",
         
        });
    </script>
    {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
    <script>swal({
            title: "info :)",
            text: "{{message}}",
            icon: "info",
            button: "OK",
        });
    </script>
    {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
    <script>swal({
            title: "error :)",
            text: "{{message}}",
            icon: "error",
            button: "OK",
        });
    </script>
    {% endif %}
    {% endfor %}
    {% endif %}
  
    <!-- swal message ends -->
  <div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav sidebar sidebar-light  accordion" id="accordionSidebar">
      <a class="sidebar-brand d-flex align-items-center justify-content-center" style="background-color: green;" href="{% url 'faculty_dashboard' %}">
        <div class="sidebar-brand-icon ">
          <!-- <img src="img/logo/logo2.png"> -->
          <h4 class="mt-3">Faculty ID</h4>
          <p>123456A</p>
        </div>
        <!-- <div class="sidebar-brand-text mx-3">RuangAdmin</div> -->
      </a>
      <hr class="sidebar-divider my-0">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'faculty_dashboard' %}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>
      <hr class="sidebar-divider">
      
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBootstrap"
          aria-expanded="true" aria-controls="collapseBootstrap">
          <i class="far fa-fw fa-window-maximize"></i>
          <span>Attendance Management</span>
        </a>
        <div id="collapseBootstrap" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <!-- <h6 class="collapse-header">Bootstrap UI</h6> -->
            <a class="collapse-item" href="{% url 'faculty_add_attendance' %}">Add Attendance</a>
            <a class="collapse-item" href="{% url 'faculty_view_attendance' %}">View Attendance Deatils</a>
          </div>
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseForm" aria-expanded="true"
          aria-controls="collapseForm">
          <i class="fab fa-fw fa-wpforms"></i>
          <span>Marks Management</span>
        </a>
        <div id="collapseForm" class="collapse" aria-labelledby="headingForm" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <!-- <h6 class="collapse-header">Forms</h6> -->
            <a class="collapse-item active" href="{% url 'faculty_add_marks' %}">Add Marks</a>
            <a class="collapse-item" href="{% url 'faculty_view_marks' %}">View Marks</a>
          </div>
        </div>
      </li>
     
    </ul>
    <!-- Sidebar -->
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <!-- TopBar -->
        <nav class="navbar navbar-expand navbar-light bg-navbar bg-success topbar mb-4 static-top">
          <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>
          <ul class="navbar-nav ml-auto">
            <a href="{% url 'faculty_logout' %}">
              <button class="btn btn-warning"> Logout </button>
            </a>
          </ul>
        </nav>
        <!-- Topbar -->

        <!-- Container Fluid-->
        <div class="container-fluid" id="container-wrapper">
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><p >Marks Management</p></li>
              <li class="breadcrumb-item active" aria-current="page">Add Marks</li>
            </ol>
          </div>

         
          <div class="row ">
            <div class=" col-12 ">
              <form method="post" enctype = 'multipart/form-data'>
                {% csrf_token %}
                <div>
                <div class="d-flex justify-content-center">
                  <div class="col-4">
                    <label style="color:black" for="">Branch </label>
                    <select class = "form-control"  name="branch" id="" required>
                      <option value="" selected disabled>Select Branch</option>
                      <option value="CIVIL">DTDP</option>
                     
                    </select>
                  </div>
                  <div class="col-4">
                    <label style="color:black" for="">Semester </label>
                    <select class = "form-control"  name="semester" id="" required>
                      <option value="" selected disabled>Select Semester</option>
                      <option value="semester-1">Semister-1</option>
                          <option value="semester-2">Semister-2</option>
                          <option value="semester-3">Semister-3</option>
                          <option value="semester-4">Semister-4</option>
                          <option value="semester-5">Semister-5</option>
                          <option value="semester-6">Semister-6</option>
                          <option value="semester-7">Semister-7</option>
                          <option value="semester-8">Semister-8</option>
                    </select>
                  </div>
                  <div class="col-4">
                    <label style="color:black" for="">Assignmet </label>
                    <input class="form-control" name = "assignment" placeholder="Enter Assignment" type="text">
                  </div><br>
                </div><br>
                <input type="submit" class="btn btn-primary d-flex m-auto" value="Submit">
              </div>
              </form><br>
            </div> 


            <div class="col-lg-12">
              <div class="card mb-4">
                <form action="{% url 'mark_add' %}" method="post" enctype = 'multipart/form-data'>
                  {% csrf_token %}
                  <div class="table-responsive p-3">
                    <table class="table align-items-center table-flush table-hover" id="dataTableHover">
                      <thead class="thead-light">
                          <tr class="text-center">
                              <th>#</th>
                              <th>Student Profile</th>
                              <th>Student Name</th>
                              <th>Student Rollnumber</th>
                              <th>Add Marks</th>
                          </tr>
                      </thead>
                      <tbody class="text-center">
                        {% for i in marks_details %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td><img src="media/{{i.Profile}}" style="border-radius: 50%; width:50px; height:50px;"></td>
                            <td>{{i.Full_Name}}</td>
                            <td>{{i.Roll_No}}</td>
                            <td>
                              <input type="text" name ="{{i.Student_ID}}" />
                            </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table><br>
                    <input type="submit" class="btn btn-primary d-flex m-auto"  value="Submit">
                  </div>
                </form>
              </div>
            </div>
          </div>


          <!--Row-->

          <!-- Modal Logout -->
          <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelLogout"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabelLogout">Ohh No!</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Are you sure you want to logout?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
                  <a href="login.html" class="btn btn-primary">Logout</a>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!---Container Fluid-->
      </div>
     
    </div>
  </div>

  <!-- Scroll to top -->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <script src="{% static 'admin_static/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'admin_static/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'admin_static/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'admin_static/js/ruang-admin.min.js' %}"></script>
  <script src="{% static 'admin_static/vendor/chart.js/Chart.min.js' %}"></script>
  <script src="{% static 'admin_static/js/demo/chart-area-demo.js' %}"></script>  
</body>



</html>


